<div id="page-wrapper">
  <div class="row p w ma">
    <div class="span2">
      <%= render "shared/sidebar" %>
    </div>

    <div class="span9">
      <section>
        <h1><%= "ติดต่อเรา" %></h1>
        thaimutualfunds แอด gmail.com
      </section>
    </div>
  </div>
</div>
